<h1> Welcome to Buy the Slice or PizzaLogic </h1>

<%=link_to "Sign Up", sign_up_path %>
<%=link_to "Sign In", sign_in_path %>
<%=link_to "Sign Out", sign_out_path, {method: :delete} %>

<%=link_to "Create a Group", new_group_path %>